<ul class="list-group gn-resultview gn-resultview-sumup">

  <li class="list-group-item"
      data-ng-repeat="md in searchResults.records"
      app-fix-mdlinks=""
      app-md-extent=""
      app-md-extent-md="md">

    <div class="gn-grid-item unosat-md">

      <!--Title-->
      <div class="gn-md-title">
        <input data-gn-selection-md type="checkbox" class="hidden-xs"
               data-ng-model="md['geonet:info'].selected"
               data-ng-change="change()"/>

        <h4 title="{{md.title || md.defaultTitle}}" ng-click="ctrl.selectedMd = md">
          <a  href="">
            {{(md.title || md.defaultTitle)}}</a>
        </h4>
      </div>
      <app-md-summary app-md-summary-md="md"></app-md-summary>
    </div>
  </li>
</ul>
