#mdView {
  background-color: white;

  .md-title {
    padding: 2px;
    padding-left: 12px;
    position: relative;
    background-color: @brand-primary;
    color:white;
  }

  .md-content {
    padding: 20px;
    overflow-y: auto;
    max-height: calc(~"100vh - 230px");
  }

  .md-mainblock {
    margin-bottom: 20px;
    text-align: justify;
    min-height: 130px;
    img {
      width: 110px;
      height: 110px;
    }
  }
  .md-thumb {
    padding-left: 20px;
  }

  ul {
    padding: 0 10px;
  }
  .gn-img-extent {
    width: 150px;
  }

  p.legend {
    padding: 10px;
  }

  th {
    font-weight: normal;
  }

}