<div class="unosat-md">
  <div class="md-title">
    <h4>  {{(md.title || md.defaultTitle)}}</h4>
    <button class="close-panel" ng-click="md = null">
      ✕
    </button>
  </div>

  <div class="md-content">
    <app-md-summary app-md-summary-md="md"></app-md-summary>

    <h5 translate="md-details"></h5>
    <dl class="dl-horizontal">
      <dt translate>abstract</dt>
      <dd data-ng-bind-html="(md.abstract || md.defaultAbstract) | linky | newlines"></dd>
      <dt translate>legend</dt>
      <dd>
        <p class="legend">
          <img class="" data-ng-src="{{layer.get('legend')}}"/>
        </p>
      </dd>
    </dl>

    <div class="flex-row">
      <div class="md-extent">
        <div class="md-bloc6">
          <h6 translate="">extent</h6>
          <p data-ng-repeat="bbox in ::md.geoBox">
            <img class="gn-img-thumbnail img-thumbnail gn-img-extent"
                 data-ng-src="region.getmap.png?mapsrs=EPSG:3857&width=150&background=osm&geomsrs=EPSG:4326&geom={{md.getBoxAsPolygon($index)}}"/>
          </p>
        </div>
      </div>
      <div class="md-info">
        <div class="md-bloc6">
          <h6 translate="">tempExtent</h6>
          <p>
          <dl data-ng-show="md.creationDate.length > 0" class="dl-horizontal">
            <dt data-translate>creationDate</dt>
            <dd data-ng-repeat="creaDate in md.creationDate track by $index"
                data-gn-humanize-time="{{creaDate}}"
                data-format="YYYY-MM-DD"/>
          </dl>
          <dl data-ng-show="md.publicationDate.length > 0" class="dl-horizontal">
            <dt data-translate>publicationDate</dt>
            <dd data-ng-repeat="pubDate in md.publicationDate track by $index"
                data-gn-humanize-time="{{pubDate}}"
                data-format="YYYY-MM-DD"/>
          </dl>
          <dl data-ng-show="md.revisionDate.length > 0" class="dl-horizontal">
            <dt data-translate>revisionDate</dt>
            <dd data-ng-repeat="revDate in md.revisionDate track by $index"
                data-gn-humanize-time="{{revDate}}"
                data-format="YYYY-MM-DD"/>
          </dl>
          <dl class="dl-horizontal" data-ng-show="md.tempExtentBegin ||
                              md.tempExtentEnd">
            <dt data-translate>tempExtentBegin</dt>
            <dd>
              <span data-gn-humanize-time="{{md.tempExtentBegin}}"/>
              &nbsp;<i class="fa fa-fw fa-forward"></i>
              <span data-gn-humanize-time="{{md.tempExtentEnd}}"/>
            </dd>
          </dl>
          </p>
        </div>
        <div class="md-bloc6">
          <h6 translate="">identification</h6>
          <p class="text-ellipsis">{{md.getUuid()}}</p>
        </div>
      </div>
    </div>
    <dl class="dl-horizontal">
      <!--Projection-->
      <dt translate data-ng-if="md.crsDetails">crs</dt>
      <dd data-ng-if="md.crsDetails">
        <p>
        <ul>
          <li data-ng-repeat="r in md.crsDetails">
            <span ng-if="r.name != ''">{{ r.name }} ({{ r.code }})</span>
            <span ng-if="r.name == ''">{{ r.code }}</span>
          </li>
        </ul>
        </p>
      </dd>

      <!--Format-->
      <dt translate data-ng-if="md.format">format</dt>
      <dd data-ng-if="md.format">
        <p>
          <span data-ng-repeat="f in md.format track by $index"
                class="badge">{{f}}</span>
        </p>
      </dd>


      <dt translate data-ng-if="md.lineage">lineage</dt>
      <dd data-ng-if="md.lineage">
        <p data-ng-bind-html="md.lineage | linky | newlines"/>
      </dd>

      <!--Contacts ressources-->
      <dt translate data-ng-if="md.getAllContacts().resource">resourceContact</dt>
      <dd data-ng-if="md.getAllContacts().resource">
        <div data-gn-metadata-contacts="md.getAllContacts().resource" data-gn-mode="org-role" />
      </dd>

      <!--Credits-->
      <dt translate data-ng-if="md.credit">credit</dt>
      <dd data-ng-if="md.credit">
        <p>{{md.credit}}</p>
      </dd>

      <!--Status-->
      <dt translate data-ng-if="md.status_text.length">resourceStatus</dt>
      <dd data-ng-if="md.status_text.length">
        <ul>
          <li data-ng-repeat="s in md.status_text">{{s}}</li>
        </ul>
      </dd>
    </dl>



    <table class="table">
      <tbody>
      <tr data-ng-if="::(md.category.length > 0 ||
                      md.topicCat.length > 0)">
        <th data-translate="">listOfCategories</th>
        <td>
          <a data-ng-repeat="cat in ::md.category"
             data-ng-href="#/search?_cat={{cat}}">
            <span class="fa gn-icon-{{cat}}" title="{{cat | translate}}"></span>
          </a>

          <a data-ng-repeat="t in ::md.topicCat"
             data-ng-href="#/search?topicCat={{t}}">
            <i class="fa" title="{{t | translate}}">
              <span class="fa gn-icon-{{t}}"></span>
            </i>
          </a>
        </td>
      </tr>
      <tr>
        <th>Emprise</th>
        <td>
          <p data-ng-repeat="bbox in ::md.geoBox">
            <img class="gn-img-thumbnail img-thumbnail gn-img-extent"
                 data-ng-src="region.getmap.png?mapsrs=EPSG:3857&width=150&background=osm&geomsrs=EPSG:4326&geom={{md.getBoxAsPolygon($index)}}"/>
          </p>
        </td>
      </tr>
      <tr>
        <th>Légende</th>
        <td>
          <p class="legend">
            <img class=""
                 data-ng-src="{{layer.get('legend')}}"/>
          </p>
        </td>
      </tr>
      <tr data-ng-if="::md.keyword">
        <th data-translate="">keywords</th>
        <td>

          <ul>
            <li data-ng-repeat="k in ::md.keyword track by $index">
              {{k}}
            </li>
          </ul>
          <!--<span class="badge" data-ng-repeat="k in ::md.keyword track by $index">{{k}}</span>-->
        </td>
      </tr>
      <!--
      <tr data-ng-if="::md.datasetLang">
        <th data-translate="">language</th>
        <td>
          <ul>
            <li data-ng-repeat="l in ::md.datasetLang">
              {{l | translate}}
            </li>
          </ul>
        </td>
      </tr>

      <tr data-ng-if="::md.identifier">
        <th data-translate="">identifier</th>
        <td>
          <ul>
            <li data-ng-repeat="i in ::md.identifier">
              {{i}}
            </li>
          </ul>
        </td>
      </tr>
      <tr data-ng-if="::md.classification_text">
        <th data-translate="">classification</th>
        <td>{{::md.classification_text}}</td>
      </tr>
      <tr data-ng-if="::md.legalConstraints">
        <th data-translate="">legalConstraints</th>
        <td>
          <p data-ng-repeat="c in ::md.legalConstraints track by $index">{{c}}</p>
        </td>
      </tr>


      <tr data-ng-if="::md.securityConstraints">
        <th data-translate="">securityConstraints</th>
        <td>
          <p data-ng-repeat="c in ::md.securityConstraints track by $index">{{c}}</p>
        </td>
      </tr>


      <tr data-ng-if="::md.resourceConstraints">
        <th data-translate="">resourceConstraints</th>
        <td>
          <p data-ng-repeat="c in ::md.resourceConstraints track by $index">{{c}}</p>
        </td>
      </tr>
    -->

      <tr data-ng-if="::md.getAllContacts().resource">
        <th data-translate="">Contact</th>
        <td>
          <div class="gn-contact"
               data-ng-repeat="c in ::md.getAllContacts().resource track by $index">
            <!--
                    <h3>
                      <i class="fa fa-envelope"></i>
                      {{c.role | translate}}
                    </h3>
            -->
            <div class="row">
              <div class="col-md-6">
                <address>
                  <strong>
                    Projet RésEau Tchad<br/>
                  </strong>
                  <div>
                    <a href="mailto:reseau.databank@unitar.org">
                      <span>reseau.databank@unitar.org</span>
                    </a>
                  </div>
                  <div>Tchad</div>
                  <a href="tel:{{c.phone}}"
                     data-ng-if="c.phone != ''">
                    <span data-translate="">call</span> {{c.phone}}
                  </a>
                </address>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr data-ng-if="::md.status_text.length > 0">
        <th data-translate="">resourceStatus</th>
        <td>
          <ul>
            <li data-ng-repeat="s in ::md.status_text">{{s}}</li>
          </ul>
        </td>
      </tr>
      <tr data-ng-if="::md.credit">
        <th data-translate="">credit</th>
        <td>{{::md.credit}}</td>
      </tr>

      </tbody>
    </table>
  </div>

</div>